.Input{

    width:100%;
    padding:10px;
    box-sizing: border-box;
    
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline:none;
    border:1px solid #ccc;
    background-color: rgba(70, 167, 210, 0.39)  ;
    font:inherit;
    padding:15px 10px;
    display: block;
    width: 40% ;
    box-sizing:border-box;
    border-radius: 25px;
    margin-left: 30%;
}

.InputElement:focus {
    outline: none;
    background-color:#ccc;
}

.Invalid{
    border:1px solid red;
    background-color: #FDA49A;
}
.ValidationError{
    color:red;
    margin:5px 0
}
